.container {
  display: flex;
  align-items: stretch;
  background: rgb(var(--background-start-rgb));
}

.leftSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.leftSection {
  width: 275px;
  height: 100dvh;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1300px) {
  .leftSection {
    width: 275px;
  }
  .leftSectionFixed {
    align-items: flex-start;
  }

}

.leftSectionFixed nav {
  flex: 1;
}
.leftSectionFixed nav li {
  list-style-type: none;
}

.logo {
  display: inline-block;
  margin-top: 2px;
  width: 56px;
  height: 56px;
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoPill:hover {
  background: rgba(var(--button-hover-rgba));
}

.logoPill svg {
  width: 30px;
  height: 30px;
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
}
.postButton:hover {
  background-color: rgb(26, 140, 216);
}
.postButton span {
  display: none;
}
.postButton svg {
  display: inline-block;
  fill: white;
  width: 24px;
}

@media all and (min-width: 1300px) {
  .postButton {
    height: 52px;
    width: 234px;
    border-radius: 26px;
  }
  .postButton span {
    display: inline-block;
  }
  .postButton svg {
    display: none;
  }
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  height: 100dvh;
  flex-direction: column;
  flex-grow: 1;
}

.rightSectionInner {
  height: 100%;
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
}

.rightSection {
  width: 350px;
  height: 100%;
}

.search {
  position: fixed;
  height: 42px;
  width: inherit;
  border-radius: 21px;
  background: rgb(239, 243, 244);
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  .search {
    background: #16181c;
  }

  .search input {
    color: #fff;
  }
}

.search svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.search input {
  outline: none;
  background: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
}

.followRecommend {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
  margin: 12px 0;
  padding: 12px 16px;
}
.followRecommend h3 {
  padding-bottom: 12px;
}

@media (prefers-color-scheme: dark) {
  .followRecommend {
    background-color: rgb(22, 24, 28);
    color: white;
  }
}
